/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --backgroundImage: url("../images/cover-image-dark.png");
  --accent-color: #FF0070;
  --colorDark_for_background_and_text: #000028;
  --colorForText: #F1B2CE;
  --pinkColorForTitle: #DB00FF;
  --colorButtonHover: #FF007066;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --backgroundImage: url("../images/cover-image-dark.png");
  --accent-color: #FF0070;
  --colorDark_for_background_and_text: #000028;
  --colorForText: #F1B2CE;
  --pinkColorForTitle: #DB00FF;
  --colorButtonHover: #FF007066;
}
