/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --backgroundImage: url("../images/cover-image-dark.png");
  
  --color_for_decoration_header: #FF0070;

  --colorForRectangles: #FF0070;
  
  --color_for_background: #000028;
  
  --ColorForTitle: #DB00FF;

  --ColorFor_Mini_Title: #000028;

  --colorForTextInRectangles: #F1B2CE;

  --color_for_basic_text: #F1B2CE;

  --colorTextShadow: #FF0070;

  --colorButtonHover: #FF007066;

}

.theme-dark .rec-label {
  display: block;
}
.theme-dark .rec_circle {
  display: block;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --backgroundImage: url("../images/cover-image-dark.png");
  
  --color_for_decoration_header: #FF0070;

  --colorForRectangles: #FF0070;
  
  --color_for_background: #000028;
  
  --ColorForTitle: #DB00FF;

  --ColorFor_Mini_Title: #000028;

  --colorForTextInRectangles: #F1B2CE;

  --color_for_basic_text: #F1B2CE;

  --colorTextShadow: #FF0070;

  --colorButtonHover: #FF007066;
}

@media (prefers-color-scheme: dark) {
  :root {
      /* Вам также нужно будет написать ряд подобных селекторов */
  --backgroundImage: url("../images/cover-image-dark.png");
  
  --color_for_decoration_header: #FF0070;

  --colorForRectangles: #FF0070;
  
  --color_for_background: #000028;
  
  --ColorForTitle: #DB00FF;

  --ColorFor_Mini_Title: #000028;

  --colorForTextInRectangles: #F1B2CE;

  --color_for_basic_text: #F1B2CE;

  --colorTextShadow: #FF0070;

  --colorButtonHover: #FF007066;
  }
  .rec-label {
    display:block;
  }
  .rec_circle {
    display: block;
  }
}