/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  /* --backgroundImage: url("../images/cover-image-light.png");
  --color_for_decoration_header: #353430;
  --color_for_background: #FFF1F7;
  --colorForTextInRectangles: #353430;
  --ColorForTitle: #FFC2E6;
  --colorButtonHover: #32312D66; */
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --backgroundImage: url("../images/cover-image-light.png");
  --color_for_decoration_header: #353430;
  --color_for_background: #FFF1F7;
  --colorForTextInRectangles: #353430;
  --ColorForTitle: #FFC2E6;
  --colorButtonHover: #32312D66;
}
