/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --backgroundImage: url("../images/cover-image-dark.png");
  --accent-color: #FF0070;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  width: 375px;
  position: relative;
}

/* header */
.header{
  width: 375px;
  height: 668px;
  border: 1px solid white;
  /* display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr; */
  background-image: var(--backgroundImage);
}

.REC{
  color: red;
  width: 33px;
  height: 26px;
  /* border: 1px solid red; */
  text-align: center;
  margin-top: 10px;
  margin-right: 38px;
  margin-left: 304px;
  display: flex;
  justify-content:space-evenly; 
  align-items: center;
  font-family: 'IBM Plex mono';
  font-weight: 400;
  font-size: 18px;
}

.circle{
  width: 9px;
  height: 9px;
  background-color: #FF0070;
  border-radius: 100%;
  box-shadow: 0px 0px 4px 2px #FF0070;
  position: absolute;
  top: 18px;
  right: 19px;
  left: 347px;
  z-index: 99;
}

.header__theme-menu {
  width: 70px;
  height: 98px;
  margin-top: 39px;
  margin-left: auto;
  margin-right: 10px;
  color: #FF0070;
}

.header__theme-menu-item{
  width: inherit;
  display: grid;
  justify-content: center;
  align-items: center;
}

.header__theme-menu-button{
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-size: 18px;
  text-transform: lowercase;
  background: none;        /* убирает фон */
  border: none;           /* убирает рамку */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 70px;
  height: 26px;
  padding-right: 13px;
  padding-left: 13px;

}

 .header__theme-menu-list{
  height: inherit;
  width: inherit;
  display: grid;
  justify-content: center;
  align-items: center;
 }

 .noFocus{
  color: #DB00FF;
  width: 355px;
  height: 192px;
  margin-top: 65px;
  margin-left: 10px;
  margin-right: 10px;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  /* font-size: 116px; */
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
 }

 .titleInHeader{
  width: 355px;
  height: 117px;
  margin-top: 55px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 66px;
  background: #FF0070;
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: #000028;
 }

 .rectangle79{
  position: absolute;
  z-index: 100;
  width: 25.04px;
  height: 25px;
  top: 633px;
  left: 10px;
  border-bottom: 1px solid #FF0070;
  border-left:  1px solid #FF0070;
 }

 .rectangle77{
  position: absolute;
  z-index: 100;
  width: 25.04px;
  height: 25px;
  top: 10px;
  right: 10px;
  border-top: 1px solid #FF0070;
  border-right:  1px solid #FF0070;
 }

 button:active{
  border: 1px solid #FF0070;
 }


 /* main */
 .main{
  width: 375px;
  height: 5355px;
  background-color: #000028;
 }