/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --backgroundImage: url("../images/cover-image-dark.png");
  --accent-color: #FF0070;
  --background-color-forMain: #000028;
  --colorForText: #F1B2CE;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  width: 375px;
  position: relative;
}

/* header */
.header{
  width: 375px;
  height: 668px;
  border: 1px solid white;
  /* display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr; */
  background-image: var(--backgroundImage);
}

.REC{
  color: red;
  width: 33px;
  height: 26px;
  /* border: 1px solid red; */
  text-align: center;
  margin-top: 10px;
  margin-right: 38px;
  margin-left: 304px;
  display: flex;
  justify-content:space-evenly; 
  align-items: center;
  font-family: 'IBM Plex mono';
  font-weight: 400;
  font-size: 18px;
}

.circle{
  width: 9px;
  height: 9px;
  background-color: #FF0070;
  border-radius: 100%;
  box-shadow: 0px 0px 4px 2px #FF0070;
  position: absolute;
  top: 18px;
  right: 19px;
  left: 347px;
  z-index: 99;
}

.header__theme-menu {
  width: 70px;
  height: 98px;
  margin-top: 39px;
  margin-left: auto;
  margin-right: 10px;
  color: #FF0070;
}

.header__theme-menu-item{
  width: inherit;
  display: grid;
  justify-content: center;
  align-items: center;
}

.header__theme-menu-button{
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-size: 18px;
  text-transform: lowercase;
  background: none;        /* убирает фон */
  border: none;           /* убирает рамку */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 70px;
  height: 26px;
  padding-right: 13px;
  padding-left: 13px;

}

 .header__theme-menu-list{
  height: inherit;
  width: inherit;
  display: grid;
  justify-content: center;
  align-items: center;
 }

 .noFocus{
  color: #DB00FF;
  width: 355px;
  height: 192px;
  margin-top: 65px;
  margin-left: 10px;
  margin-right: 10px;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  /* font-size: 116px; */
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
 }

 .titleInHeader{
  width: 355px;
  height: 117px;
  margin-top: 55px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 66px;
  background: #FF0070;
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: #000028;
 }

 .rectangle79{
  position: absolute;
  z-index: 100;
  width: 25.04px;
  height: 25px;
  top: 633px;
  left: 10px;
  border-bottom: 1px solid #FF0070;
  border-left:  1px solid #FF0070;
 }

 .rectangle77{
  position: absolute;
  z-index: 100;
  width: 25.04px;
  height: 25px;
  top: 10px;
  right: 10px;
  border-top: 1px solid #FF0070;
  border-right:  1px solid #FF0070;
 }

 button:active{
  border: 1px solid #FF0070;
 }


 /* main */
 .main{
  width: 375px;
  height: 5355px;
  background-color: var(--background-color-forMain);
  border: 1px solid white;
 }
 .sectionOne{
  width: 375px;
  height: 949px;
  padding-right: 10px;
  padding-left: 10px;
 }

 .sectionOne-title, .sectionTwo_title{
  color: var(--accent-color);
  width: 355px;
  height: 47px;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}


.Multitasking, .Dopamine{
  width: 355px;
  height: 431px;
  /* border: 0.5px solid white; */
  margin-bottom: 10px;
}

.Rectangle56, .Rectangle55, .sectionThreeMiniTitle{
  width: 355px;
  height: 23px;
  background: var(--accent-color);
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  color: var(--background-color-forMain);
  }

.Multitasking-content, .Dopamine-content, .sectionTwo_Multitasking_content, .Eat_content, .Gadgets_content, .text{
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  color: var(--colorForText);
}

.sectionTwo{
  width: 375px;
  /* height: 1119px; */
  padding-right: 10px;
  padding-left: 10px;
}

.sectionThree{
  width: 375px;
  height: 1737px;
  padding-right: 10px;
  padding-left: 10px;
}

.sectionThree_title{
  width: 355px;
  height: 70px;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  color: var(--accent-color);
  margin-top: 50px;
}

.fiveAdvices{
  width: 355px;
  height: 47px;
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-size: 18px;
  color: var(--background-color-forMain);
  background-color: var(--accent-color);
  margin-top: 20px;
  margin-bottom: 20px;
}

.sectionThree_Imagine{
  width: 355px;
  height: 408px;
  margin-bottom: 20px;
}

.sectionThreeMiniTitle{
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
}

.sectionThree_Imagine_content{
  width: 354px;
  height: 375px;
}


.show_word{
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  text-shadow: 2px 2px 1px var(--accent-color);
}

.Music, .Walk, .EatWell, .sectionTwo_Multitasking, .Eat{
  margin-bottom: 20px;
}

.text{
  margin-top: 10px;
}

.gallery{
  width: 375px;
  height: 1400px;
  padding-right: 10px;
  padding-left: 10px;
}

.plashka{
  width: 355px;
  height: 24px;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  color: var(--background-color-forMain);
  background-color: var(--accent-color);
  margin-bottom: 10px;
}

.gallery_grid{
  display: grid;
  width: 355px;
  height: 1366px;
}

