/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --backgroundImage: url("../images/cover-image-dark.png");
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header{
  width: 375px;
  height: 668px;
  border: 1px solid white;
  /* display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr; */
  background-image: var(--backgroundImage);
}

.bulb{
  color: red;
  width: 33px;
  height: 26px;
  border: 1px solid red;
  text-align: center;
  margin-top: 10px;
  margin-right: 19px;
  margin-left: auto;
  width: 52px;
  height: 26px;
  display: flex;
  justify-content:space-evenly; 
  align-items: center;
  font-family: 'IBM Plex mono';
  font-weight: 400;
  font-size: 18px;
}

.circle{
  width: 9px;
  height: 9px;
  background-color: red;
  border-radius: 100%;
  box-shadow: 0px 0px 4px 2px #FF0070;
}

.header__theme-menu {
  width: 70px;
  height: 98px;
  margin-top: 39px;
  margin-left: auto;
}


/* .noFocus{
  grid-area: noFocus;
} */

/* .titleInHeader{
  grid-area: titleInHeader;
} */