/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --backgroundImage: url("../images/cover-image-dark.png");
  --accent-color: #FF0070;
  --colorDark_for_background_and_text: #000028;
  --colorForText: #F1B2CE;
  --pinkColorForTitle: #DB00FF;
  --paddingDevice: 10px;
  --sections-gap: 50px;
  --gapBetweenImg: 9px;
  --marginForMain: 40px;
  --insideGapSection: 20px;
  --cardGap: 10px;
}


.page {
  min-width: 375px;
  width: 375px;
  margin: 0px;
  background-attachment: fixed;
  background-image: var(--backgroundImage);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  width: 100%;
  height: 100dvh;
  color: blue;
  /* background-image: var(--backgroundImage);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  position: relative;
}

.rec-label {
  position: absolute;
  color: var(--accent-color);
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  width: 33px;
  height: 26px;
  top: 10px;
  left: 304px;
}

.rec-dot {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 18px;
  left: 347px;
  background-color: var(--accent-color);
  border-radius: 100%;
  box-shadow: 0px 0px 4px 2px #FF0070;
}

.header__theme-menu {
  position: absolute;
  width: 70px;
  height: 98px;
  top: 75px;
  left: 295px;
  /* border: 1px solid orange; */
}

.header__theme-menu-list {
  width: 70px;
  height: 98px;
  display: grid;
  row-gap: 10px;
  grid-template-rows: 1fr 1fr 1fr;
}

.header__theme-menu-item {
  width: inherit;
  height: 26px;
}

/* .header__theme-menu-button {
  background: none;
  border: none;

  width: 70px;
  height: 26px;
  display: flex;
  justify-content: center;  
  align-items: center;

  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  color: var(--accent-color);

  text-transform: lowercase;
} */

.header__theme-menu-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  
  width: 70px;
  height: 26px;
  display: flex;
  /* justify-content: center;   */
  padding-left: 13px;
  padding-right: 13px;
  align-items: center;
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--accent-color);
  text-transform: lowercase;
}



.main-title {
  position: absolute;
  width: 355px;
  height: 192px;
  top: 238px;
  left: 10px;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0%;
  color: var(--pinkColorForTitle);
  text-shadow: 4px 4px 0px var(--accent-color);
}

.header-description {
  position: absolute;
  width: 355px;
  height: 117px;
  top: 485px;
  left: 10px;
  background: var(--accent-color);
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0.0;
  color: var(--colorDark_for_background_and_text);
}

.corner-bottom-left {
  position: absolute;
  width: 25px;
  height: 25px;
  left: var(--paddingDevice);
  bottom: var(--paddingDevice);
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  z-index: 100;
}

.corner-top-right {
  position: absolute;
  width: 25px;
  height: 25px;
  top: var(--paddingDevice);
  right: var(--paddingDevice);
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  z-index: 100;
}

button:hover {
  border: 1px solid var(--accent-color);
  opacity: 0.8;
}

/* Состояние active (нажатие) */
button:active {
  border: 1px solid var(--accent-color);
}

/* Состояние focus для доступности */
button:focus {
  border-bottom: 1px solid var(--accent-color);
}

.main {
  width: 100%;
  /* height: max-content; */
  display: grid;
  grid-auto-rows: auto;
  gap: var(--sections-gap);
  background-color: var(--colorDark_for_background_and_text);
  padding-left: var(--paddingDevice);
  padding-right: var(--paddingDevice);
  /* margin-top: var(--marginForMain); */
  /* margin-bottom: var(--marginForMain); */
}

.section {
  display: grid;
  gap: var(--insideGapSection);
  grid-auto-rows: auto;
}

.section-why {
  margin-top: 38px;
}

.section-title {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0.0;
  color: var(--accent-color);
}

.card {
  display: grid;
  gap: var(--cardGap);
}

.card-title {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0.0;
  color: var(--colorDark_for_background_and_text);
  background-color: var(--accent-color);
}

.card-content {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0.0;
  color: var(--colorForText);
}

.advice-subtitle {
  width: 355px;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--colorDark_for_background_and_text);
  background-color: var(--accent-color);
}

.advice-card {
  display: grid;
  gap: var(--cardGap);
}

.advice-card-title {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--colorDark_for_background_and_text);
  background-color: var(--accent-color);
}

.advice-card-content {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--colorForText);
}

.gallery {
  display: grid;
  gap: var(--gapBetweenImg);
  margin-bottom: var(--marginForMain);
}

.gallery_grid {
  display: grid;
  gap: var(--gapBetweenImg);
}
.gallery_grid img {
  width: 100%;
}

.footer {
  height: 100dvh;
  position: relative;
  background-color: var(--colorDark_for_background_and_text);
}

.focus {
  position: absolute;
  width: 348px;
  height: 96px;
  top: 286px;
  left: 14px;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  letter-spacing: 0%;
  color: var(--pinkColorForTitle);
  text-shadow: 2px 2px 0px #FF0070;
}

.footer_corner-bottom-left {
  position: absolute;
  width: 25px;
  height: 25px;
  left: var(--paddingDevice);
  bottom: var(--paddingDevice);
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  z-index: 100;
}

.footer_corner-top-right{
  position: absolute;
  width: 25px;
  height: 25px;
  top: var(--paddingDevice);
  right: var(--paddingDevice);
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  z-index: 100;
}


@media (min-width: 1024px) {
  .page {
    background-attachment: fixed;
  }
  .header{
    height: 100vh;
  }
}