/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --backgroundImage: url("../images/cover-image-dark.png");
  --accent-color: #FF0070;
  --colorDark_for_background_and_text: #000028;
  --colorForText: #F1B2CE;
  --pinkColorForTitle: #DB00FF;
}


.page {
  min-width: 375px;
  margin: 0px;
  background-attachment: fixed;
  background-image: var(--backgroundImage);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  width: 100%;
  height: 100vh;
  color: blue;
  /* background-image: var(--backgroundImage);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

.rec-label {

}

.rec-dot {
}

.header__theme-menu {
}

.header__theme-menu-item {
}

.header__theme-menu-button {
}

.header__theme-menu-list {
}

.main-title {
}

.header-description {
}

.corner-bottom-left {
}

.corner-top-right {
  width: 25px;
  height: 25px;
  top: 10px;
  left: ;
angle: 0 deg;
opacity: 1;
border-top-width: 1px;
border-right-width: 1px;

}

button:active {
}

.main {
}

.section {
}

.section-why {
}

.section-distractions {
}

.section-advice {
}

.section-title {
}

.card {
}

.card-title {
}

.card-content {
}

.advice-subtitle {
}

.advice-card {
}

.advice-card-title {
}

.advice-card-content {
}

.text {
}

.highlight-text {
}

.gallery{
}

.gallery_grid{
}

.footer{
}

.focus{
}

.footer_corner-bottom-left {
}

.footer_corner-top-right{
}


@media (min-width: 1024px) {
  .page {
    background-attachment: fixed;
  }
}