/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --backgroundImage: url("../images/cover-image-dark.png");
  --accent-color: #FF0070;
  --colorDark_for_background_and_text: #000028;
  --colorForText: #F1B2CE;
  --pinkColorForTitle: #DB00FF;
  --paddingDevice: 10px;
}


.page {
  min-width: 375px;
  margin: 0px;
  background-attachment: fixed;
  background-image: var(--backgroundImage);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.header {
  width: 100%;
  height: 100dvh;
  color: blue;
  /* background-image: var(--backgroundImage);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  position: relative;
}

.rec-label {
  position: absolute;
  color: var(--accent-color);
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  width: 33px;
  height: 26px;
  top: 10px;
  left: 304px;
}

.rec-dot {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 18px;
  left: 347px;
  background-color: var(--accent-color);
  border-radius: 100%;
  box-shadow: 0px 0px 4px 2px #FF0070;
}

.header__theme-menu {
  position: absolute;
  width: 70px;
  height: 98px;
  top: 75px;
  left: 295px;
  /* border: 1px solid orange; */
}

.header__theme-menu-list {
  width: 70px;
  height: 98px;
  display: grid;
  row-gap: 10px;
  grid-template-rows: 1fr 1fr 1fr;
}

.header__theme-menu-item {
  width: inherit;
  height: 26px;
}

.header__theme-menu-button {
  all: unset;
  width: 70px;
  height: 26px;
  display: flex;
  justify-content: center;  
  align-items: center;

  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  color: var(--accent-color);

  text-transform: lowercase;
}



.main-title {
}

.header-description {
}

.corner-bottom-left {
  position: absolute;
  width: 25px;
  height: 25px;
  left: var(--paddingDevice);
  bottom: var(--paddingDevice);
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  z-index: 100;
}

.corner-top-right {
  position: absolute;
  width: 25px;
  height: 25px;
  top: var(--paddingDevice);
  right: var(--paddingDevice);
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  z-index: 100;
}

button:active {
  border: 1px solid #FF0070;
}

.main {
}

.section {
}

.section-why {
}

.section-distractions {
}

.section-advice {
}

.section-title {
}

.card {
}

.card-title {
}

.card-content {
}

.advice-subtitle {
}

.advice-card {
}

.advice-card-title {
}

.advice-card-content {
}

.text {
}

.highlight-text {
}

.gallery{
}

.gallery_grid{
}

.footer{
}

.focus{
}

.footer_corner-bottom-left {
}

.footer_corner-top-right{
}


@media (min-width: 1024px) {
  .page {
    background-attachment: fixed;
  }
  .header{
    height: 100vh;
  }
}