/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header{
  width: 375px;
  height: 668px;
  border: 1px solid white;
  display: grid;
  /* grid-template-areas: 
  "bulb",
  "header__theme-menu",
  "noFocus"; */
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.bulb{
  color: red;
  width: 52px;
  height: 26px;
  margin-top: 10px;
  margin-left: 304px;
  /* grid-area: bulb; */
  border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.ellipse{
  background-color: red;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  box-shadow: 0px 0px 15px red;
}

.header__theme-menu {
  width: 70px;
  height: 98px;
  margin-top: 75px;
  margin-left: 295px;
}


.noFocus{
  
}

.titleInHeader{
  
}



/* ghdkgfhg */