/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header{
  width: 375px;
  height: 668px;
  border: 1px solid white;
  display: grid;
  /* grid-template-areas: 
  "bulb",
  "header__theme-menu",
  "noFocus";
  grid-template-columns: 1fr; */
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.bulb{
  color: red;
  width: 33px;
  height: 26px;
  border: 1px solid red;
  text-align: center;
  margin-top: 10px;
  margin-right: 19px;
  margin-left: auto;
  width: 52px;
  height: 26px;
  display: flex;
  justify-content: center; 
  align-items: center;
}

/* .header__theme-menu {
  grid-area: header__theme-menu;
}


.noFocus{
  grid-area: noFocus;
} */

/* .titleInHeader{
  grid-area: titleInHeader;
} */