/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --paddingDevice: 10px;
  --sections-gap: 50px;
  --gapBetweenImg: 10px;
  --marginForMain: 40px;
  --insideGapSection: 20px;
  --cardGap: 10px;
}


